################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/SwitchCalculator/obj
/SwitchCalculator/bin/Debug/netcoreapp3.1
/SwitchIncapsulatedFunctionsCalculator/bin/Debug/netcoreapp3.1
/SwitchIncapsulatedFunctionsCalculator/obj
