################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/SwitchCalculator/obj
/SwitchCalculator/bin
/SwitchIncapsulatedFunctionsCalculator/bin
/SwitchIncapsulatedFunctionsCalculator/obj
/3 IncapsulatedFunctionsCalculator/bin
/3 IncapsulatedFunctionsCalculator/obj
/4 IncapsulatedAnonFunctionsCalculator/obj
/LambdaFunctionsCalculator/obj
/6 DefineOperationsCalculator/bin
/6 DefineOperationsCalculator/obj
/LambdaFunctionsCalculator/bin
